:root {
  --primary-color: #993955;
  /* quin magenta */
  --secondary-color: #2F6690;
  /* lapis lazuli */
  --accent1-color: #A3C3D9;
  /* powder blue */
  --accent2-color: #191516;
  /* licorice */
  --heading-font: "Knewave", system-ui;
  --body-font: "Farsan", cursive;
}

header {
  background-color: var(--primary-color);
  color: var(--accent2-color);
  display: grid;
  grid-template-columns: 2fr 3fr;
}


nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: end;
  align-items: center;

}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  color: var(--accent1-color);
} 

header, main, footer {
  width: 840px;
  margin: 0 auto;
}

h1, h2 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

nav, p, section, article {
  margin: 16px;
  padding: 8px;
}

.socialmedia a {
  text-decoration: none;
}

.hero{
  position: relative;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

h1 {
  position: absolute;
  top: 5px;
  width: 100%;
  padding: 16px;
  text-align: center;
  opacity: 0.7;
  background-color: var(--accent1-color);
  color: var(--accent2-color);
}
article {
  position: absolute;
  bottom: 5px;
  text-align: center;
  opacity: 0.7;
  background-color: var(--accent1-color);
  color: var(--accent2-color);
  padding: 0;  
}

.hero article img {
  float: right;
  width: 125px;
}


.knewave-regular {
  font-family: "Knewave", system-ui;
  font-weight: 400;
  font-style: normal;
}

.farsan-regular {
  font-family: "Farsan", cursive;
  font-weight: 400;
  font-style: normal;
}