:root {
  --primary-color: #A3E7FC;
  /* quin magenta */
  --secondary-color: #422e2e;
  /* lapis lazuli */
  --accent1-color: #003D5B;
  /* powder blue */
  --accent2-color: #191516;
  /* licorice */
  --heading-font: "Knewave", system-ui;
  --body-font: "Farsan", cursive;
}

header {
  background-color: var(--primary-color);
  color: var(--accent2-color);
  display: grid;
  grid-template-columns: 2fr 3fr;
}


nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

table {
  width: 100%;
  color: black;
  border: 1px solid black;
}

caption {
  background-color: var(--primary-color);
  border: 1px solid black;
  font-family: var(--heading-font);
  font-size: larger;
}

th,
td {
  border: 2px solid black;
  text-align: center;
  font-size: larger;
  font-weight: bold;
}

.tabletop {
  display: flex;
  flex-wrap: nowrap;
  height: 200px;
}

iframe {
  width: 150px;
  height: auto;
  margin-left: .3em;


}

.crew {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
  text-align: center;
  padding: 15px;
  background-color: var(--primary-color);
  opacity: .9;
}

.employee-crew {
  align-content: center;
  font-size: x-large;
  background-color: white;

}

figcaption {
  font-size: larger;
  color: black;
  font-family: var(--heading-font);
  font-weight: bold;
  background-color: white;
}

.form_col {
  display: flex;
  flex-flow: column;
}

.form-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-size: x-large;
  padding: 20px;

}

.flex-item3 {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

input[type="checkbox"] {
  display: flex;
  align-self: flex-start;
  margin-bottom: 10px;
}

button {
  color: black;
  background-color: white;
  height: 20px;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  border: 1px var(--secondary-color);
  border-radius: 10%;
  box-shadow: 0 0 30px var(--primary-color);
}

footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: end;
  align-items: center;
  text-align: center;
  color: #191516;
}

footer img {
  width: 75px;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  color: var(--accent1-color);
}

header,
main,
footer {
  width: 840px;
  margin: 0 auto;
}

h1,
h2 {
  font-family: var(--heading-font);
  color: var(--secondary-color);
}

nav,
p,
section,
article {
  margin: 16px;
  padding: 8px;
}

.socialmedia a {
  text-decoration: none;
}

.hero {
  position: relative;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

h1 {
  position: absolute;
  top: 5px;
  width: 100%;
  padding: 16px;
  text-align: center;
  opacity: 0.7;
  background-color: var(--primary-color);
  color: var(--accent2-color);
}

article {
  position: absolute;
  bottom: 5px;
  text-align: center;
  opacity: 0.7;
  background-color: var(--primary-color);
  color: var(--accent2-color);
  padding: 0;
}

.hero article img {
  float: right;
  width: 125px;
}


.knewave-regular {
  font-family: "Knewave", system-ui;
  font-weight: 400;
  font-style: normal;
}

.farsan-regular {
  font-family: "Farsan", cursive;
  font-weight: 400;
  font-style: normal;
}

.figure_flex {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;

}


.figure_flex img {
  width: 150px;
}

h2 {
  text-align: center;
}


.wide-box {
  background-color: var(--primary-color);
  color: var(--accent1-color);
  font-style: italic;
  font-size: larger;
  font-weight: bolder;
  display: flex;
  flex-flow: column wrap;
  padding: 10px;
  margin: 10px;
  width: auto;
  border: 1px solid black;
  box-shadow: 0 0 30px var(--secondary-color);
}

.field-border {
  border: 1px solid var(--secondary-color);
  padding: 10px;
}

.home_grid {
  display: grid;
  grid-template-columns: 1fr;
  align-items: flex-end;
  border: 1px solid var(--accent2-color);
  box-shadow: 0 0 30px var(--accent2-color);
}

figure {
  padding-right: 10px;
}

.destiny-flex {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
}

.lines {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
}

.lines img {
  border: 1px solid black;
  padding: 3px;
  box-shadow: 0 0 30px var(--secondary-color);
  margin: 3px;
}

.lines2 {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
}

.lines2 img {
  border: 1px solid black;
  padding: 3px;
  box-shadow: 0 0 30px var(--secondary-color);
  margin: 3px;
}

h4 {
  font-family: var(--heading-font);
  color: black;
  text-align: center;
  font-size: x-large;
  border-bottom: 1px solid var(--accent2-color);
  background-color: var(--primary-color);

}

.portal {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  border-radius: 10%;
  background-color: var(--primary-color);
  color: var(--accent2-color);
  padding: 3px;
  margin: 3px;
  box-shadow: 0 0 15px darkmagenta;
  width: 20%;

}

.read {
  color: var(--accent1-color);
  display: flex;
  justify-content: center;
  align-content: center;
  width: 75px;
  height: auto;
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
  box-shadow: 0 0 15px darkmagenta;

}

.text-box {
  width: 200px;
  font-size: large;
}

h6 {
  border: 1px solid var(--accent2-color);
  background-color: var(--primary-color);
  font-size: larger;
  text-align: center;

}
.trips-grid {
  display: grid;
  grid-area: 1 / 1 / 3 / 3;
  background-color: var(--secondary-color);
  
  
}
.lines3 {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
}
.lines3 img {
  border: 1px solid black;
  margin: 5px;
}

.lines4 {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  border: 1px solid black;
}
.lines4 img {
  border: 1px solid black;
  margin: 5px;
  box-shadow: 0 0 30px white;
}


.colors img {
  box-shadow: 0 0 30px red;
  color: red;
}
.america img {
  box-shadow: 0 0 30px blue;
}
.trips-title {
  text-align: center;
  font-size: larger;
  font-family: var(--heading-font);
  color: var(--accent2-color);
  border: 1px solid black;
  box-shadow: 0 0 30px rgb(83, 81, 81);
  background: linear-gradient(red,white,blue);
}

.new-1 {
  display: flex;
  text-align: center;
}
.new-1 figcaption {
  background:none;
  justify-content: center;
  margin-left: 5px;
  margin-top: 25px;
  
}
.new-2 {
  display: flex;
  flex-direction: row-reverse;
}
.new-2 figcaption{
  background: none;
  margin-left: 15px;
  
}
.new-3 {
  display: flex;
  flex-direction: row-reverse;
}
.new-3 figcaption {
  background: none;
  margin-left: 15px;
}

.new-1 img {
   box-shadow: 0 0 30px blue;
   border-right: 2px solid black;
   border-bottom: 2px solid black;
   width: 250px;
   
   background: linear-gradient(blue, white);
}

.new-2 img {
   box-shadow: 0 0 30px white;
   border: 1px solid black;
   width: 150px;
   height: auto;
   
   
}
.new-3 img {
   box-shadow: 0 0 30px red;
   border: 1px solid black;
   width: 150px;
   height: auto;
  
}
.the-gridler {
  display: grid;
  grid-area: 1 / 1 / 3 / 3;
  background: repeating-linear-gradient(red,white,red,white,red,white,red,white,red,white);
  height: auto;
  margin-top: 20px;
  border: 2px solid black;
  
}


